:root{
    --bg: #A9D2F5;
    --text: #87CEEB;
    --one: #B0E0E6;
    --two: #B3D9FF;
    --three: #B0C4DE;
    --four: #C5C8E6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #c7dbed, #87CEEB);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    text-align: center;
  }
  
  .header {
    background-color: aliceblue;
  }
  
  .logo {
    height: 100px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 20px;
}

.nav-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--two);
    color: white;
    margin: 0 15px;
}

.nav-button:hover {
    background-color: #6f1cb1;
}
  
  